<!-- Include Header -->
<%- include('partials/_header') %>
<!-- / Include Header -->

    <a href="/login">Login</a>
    <a href="/register">Register</a>

<!-- Include Footer -->
<%- include('partials/_footer') %>
<!-- /Include Footer -->