<!-- Include Header -->
<%- include('partials/_header') %>
<!-- / Include Header -->
<div class="logout_item"> 
    <a href="/login" class="logout">Login</a>
    <a href="/register" class="logout">Register</a>
</div>
<!-- Include Footer -->
<%- include('partials/_footer') %>
<!-- /Include Footer -->