<!-- Include Header -->
<%- include('partials/_header') %>
<!-- / Include Header -->

<form action="/resetPasswordForm" method="post">

    <input type="password" name="password" id="" placeholder="new password">
    <input type="password" name="confirmPassword" id="" placeholder="confirm password">
    <input type="email" name="email" value="<%=email%>" hidden>
    <button type="submit">Reset</button>
  
    <%- include('partials/_message') %> 
  </form>

<!-- Include Footer -->
<%- include('partials/_footer') %>
<!-- /Include Footer -->